$grid-laptop: repeat(12, 1fr);
$grid-tablet: repeat(8, 1fr);
$grid-mobile: repeat(6, 1fr);

$laptop-gap: 32px;
$tablet-gap: 24px;
$mobile-gap: 16px;

$min-laptop-lg: 1440px;

$max-laptop: 1339px;
$min-laptop: 1024px;

$max-tablet: 1023px;
$min-tablet: 768px;

$max-mobile: 767px;
$min-mobile: 320px;
